<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:p="http://primefaces.org/ui"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>	
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="author" content="Gabriel Soligo"/>


        <title>SISEVENTOS - Alterar Eventos</title>


        <!-- CSS -->
        <link href="../../resources/css/bootstrap.css" rel="stylesheet" type="text/css"/>
        <link href="../../resources/css/style.css" rel="stylesheet" type="text/css" />

        <!--IE10 viewport hack for Surface/desktop Windows 8 bug--> 
        <link href="../../resources/css/ie10-viewport-bug-workaround.css" rel="stylesheet"/>

        <!--Custom styles for this template--> 
        <link href="../../resources/css/painel.css" rel="stylesheet"/>

        <!-- Chamadas JS -->
        <!--        <script src="../../resources/js/jquery.min.js" type="text/javascript"></script>-->
        <script src="../../resources/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="https://use.fontawesome.com/a44030ac75.js"></script>

        <!--IE10 viewport hack for Surface/desktop Windows 8 bug--> 
        <!--        <script src="js/ie10-viewport-bug-workaround.js"></script>-->


    </h:head>
    <h:body>         
        <!-- MENU TOPO -->
        <ui:include src="../../resources/templates/template-menu-topo-alternativo-admin.xhtml"/>
        <!--FIM DO MENU TOPO -->
        <!-- CORPO -->   
        <div class="container-fluid">
            <div class="row">                
                <div class="col-sm-3 col-md-2 sidebar">                    
                    <ui:include src="../../resources/templates/template-menu-lateral-admin.xhtml"/>
                </div>
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    <div class="container-fluid">
                        <h1 class="page-header">Eventos</h1>
                    </div>

                    <h3 class="sub-header">Alterar Evento</h3>  

                    <h:form id="form" enctype="multipart/form-data">

                        <p:growl id="growl" class="ui-growl" showDetail="true" autoUpdate="true" life="5000"/> 

                        <div class="form-group col-xs-12">
                            <h:inputHidden value="#{controleUsuario.usuario.id}" />
                        </div>  

                        <div class="form-group col-md-12">
                            <p:outputLabel  for="nome" value="Nome do Evento:" />
                            <p:inputText value="#{controleEvento.evento.nomeDoEvento}"  class="form-control" id="nome" required="true" placeholder="Digite o nome do evento"/>
                        </div>

                        <div class="form-group col-md-12" >
                            <h:panelGroup id="panel" >
                                <p:outputLabel  for="novoTipo" value="Tipo de Evento:"/>
                                <p:inputText value="#{controleEvento.novoTipo.tipo}" class="form-control" id="novoTipo" placeholder="Digite o nome do evento"/>
                            </h:panelGroup>
                        </div>

                        <div class="form-group col-md-12">
                            <p:outputLabel for="endereco" value="Local do Evento"/> 
                            <p:inputText class="form-control" id="endereco" value="#{controleEvento.evento.local}" rendered="true" placeholder="Ex: Rua das Mitagens, 69"/>
                        </div>

                        <div class="form-group col-md-12">
                            <p:outputLabel for="requisitos" value="Requisitos"/> 
                            <p:inputText class="form-control" id="requisitos"  value="#{controleEvento.evento.requisitos}" />
                        </div>

                        <div class="form-group col-md-3">
                            <p:outputLabel for="vagas" value="Quantidade de vagas"/> 
                            <p:inputText class="form-control" id="vagas" value="#{controleEvento.evento.totalVagas}" placeholder="Ex: 69"/>
                        </div>   

                        <div class="form-group col-md-3">
                            <p:outputLabel for="dataEvento" value="Data do Evento"/> 
                            <p:calendar  id="dataEvento" value="#{controleEvento.evento.data}" required="true" locale="pt" mindate="#{now}"  showButtonPanel="true" effect="fold" pattern="dd/MM/yyyy HH:mm"/>
                        </div> 

                        <div class="form-group col-md-3">
                            <p:outputLabel for="inicioInscricao" value="Inicio das Inscrições"/> 
                            <p:calendar  id="inicioInscricao" value="#{controleEvento.evento.inicioInscricao}" required="true" locale="pt" mindate="#{now}"  showButtonPanel="true" effect="fold" pattern="dd/MM/yyyy HH:mm"/>
                        </div> 

                        <div class="form-group col-md-3">
                            <p:outputLabel for="fimInscricao" value="Fim das Inscrições"/> 
                            <p:calendar  id="fimInscricao" value="#{controleEvento.evento.finalInscricao}" required="true" locale="pt" mindate="#{now}"  showButtonPanel="true" effect="fold" pattern="dd/MM/yyyy HH:mm"/>
                        </div> 

                        <div class="form-group col-md-12">
                            <p:outputLabel for="descricao" value="Descrição do Evento" />
                            <p:inputTextarea class="form-control" id="descricao"  value="#{controleEvento.evento.descricaoEvento}" required="true" placeholder=""/>

                        </div> 

                        <div class="form-group col-md-12 ">                            
                            <p:fileUpload id="upload" fileUploadListener="#{controleEvento.handleFileUpload}" required="true" label="Escolher"  immediate="true"  mode="advanced"
                                          dragDropSupport="true" update="form:growl" fileLimit="5" multiple="true" skinSimple="true" allowTypes="/(\.|\/)(png|jp?g|bnp)$/" />
                        </div> 

                        <div class="form-group col-md-12">
                            <p:commandButton class="btn btn-default" id="enviar" value="Cadastrar"  action="#{controleEvento.alterar()}" ajax="false" update="growl"/>
                        </div>
                        <input type="hidden"
                               name="${_csrf.parameterName}"
                               value="${_csrf.token}"/>
                    </h:form>
                </div>
            </div>
        </div>
        <!-- FIM CORPO -->
    </h:body>
</html>



