<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="author" content="Gabriel Soligo"/>


        <title>Meu Perfil</title>


        <!-- CSS -->
        <link href="../../resources/css/bootstrap.css" rel="stylesheet" type="text/css"/>
        <link href="../../resources/css/style.css" rel="stylesheet" type="text/css" />

        <!--IE10 viewport hack for Surface/desktop Windows 8 bug--> 
        <link href="../../resources/css/ie10-viewport-bug-workaround.css" rel="stylesheet"/>

        <!--Custom styles for this template--> 
        <link href="../../resources/css/painel.css" rel="stylesheet"/>

        <!-- Chamadas JS -->
        <!--        <script src="../../resources/js/jquery.min.js" type="text/javascript"></script>-->
        <script src="../../resources/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="https://use.fontawesome.com/a44030ac75.js"></script>

        <!--IE10 viewport hack for Surface/desktop Windows 8 bug--> 
        <!--        <script src="js/ie10-viewport-bug-workaround.js"></script>-->

    </h:head>
    <h:body>
        <ui:include src="../../resources/templates/template-menu-topo-alternativo-admin.xhtml"/> 

        <div class="container-fluid">
            <div class="row">                
                <div class="col-sm-3 col-md-2 sidebar">                    
                    <ui:include src="../../resources/templates/template-menu-lateral-admin.xhtml"/>
                </div>
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    <div class="container-fluid">
                        <h1 class="page-header">Avaliador</h1>
                    </div>

                    <h3 class="sub-header">Autorizar avaliador</h3>                    

                    <div class="table-responsive">

                        <h:form id="form">

                            <p:growl id="growl" class="ui-growl" showDetail="true" autoUpdate="true" life="5000"/> 

                            <p:dataTable  id="lista" var="participante"  value="#{controleEvento.participantesAvaliadores}" scrollable="true">   
                                <p:column headerText="Evento" sortBy="#{participante.evento.nomeDoEvento}"> 
                                    <h:outputText value="#{participante.evento.nomeDoEvento}" />
                                </p:column> 

                                <p:column headerText="vagas" sortBy="#{participante.evento.totalVagas}"> 
                                    <h:outputText value="#{participante.evento.totalVagas}" />
                                </p:column> 

                                <p:column headerText="vagas disponiveis" sortBy="#{participante.evento.vagasRestantes}"> 
                                    <h:outputText value="#{participante.evento.vagasRestantes}" />
                                </p:column>

                                <p:column  headerText="ID" sortBy="#{participante.id}">  
                                    <h:outputText  value="#{participante.id}" />   
                                </p:column>

                                <p:column headerText="Nome" sortBy="#{participante.usuario.nome}">  
                                    <h:outputText value="#{participante.usuario.nome}" />
                                </p:column>

                                <p:column headerText="E-mail" sortBy="#{participante.usuario.email}"> 
                                    <h:outputText value="#{participante.usuario.email}" />
                                </p:column>

                                <!--                                <p:column headerText="Autorizar">
                                                                    <p:commandButton action="{controleEvento.acaoAutorizar(participante)}" icon="fa fa-edit"/>                                  
                                                                </p:column>
                                                                
                                                                <p:column headerText="Negar">
                                                                    <p:commandButton action="{controleEvento.acaoAutorizar(participante)}" icon="fa fa-edit"/>                                  
                                                                </p:column>-->

                            </p:dataTable>
                            <!-- Token de segurança para evitar ataques DDOS -->
                            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                            <!-- Fim do token -->
                        </h:form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JavaScript
================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <!--        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    </h:body>
</html>



