<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="author" content="Gabriel Soligo"/>


        <title>SISEVENTOS - Cadastro</title>


        <!-- CSS -->
        <link href="../../resources/css/bootstrap.css" rel="stylesheet" type="text/css"/>
        <link href="../../resources/css/style.css" rel="stylesheet" type="text/css" />

        <!--IE10 viewport hack for Surface/desktop Windows 8 bug--> 
        <link href="../../resources/css/ie10-viewport-bug-workaround.css" rel="stylesheet"/>

        <!--Custom styles for this template--> 
        <link href="../../resources/css/painel.css" rel="stylesheet"/>

        <!-- Chamadas JS -->
        <!--        <script src="../../resources/js/jquery.min.js" type="text/javascript"></script>-->
        <script src="../../resources/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="https://use.fontawesome.com/a44030ac75.js"></script>

        <!--IE10 viewport hack for Surface/desktop Windows 8 bug--> 
        <!--        <script src="js/ie10-viewport-bug-workaround.js"></script>-->

    </h:head>
    <h:body>
        <ui:include src="../../resources/templates/template-menu-topo-alternativo-admin.xhtml"/>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    <ui:include src="../../resources/templates/template-menu-lateral-admin.xhtml"/>
                </div>
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    <div class="container">
                        <h1 class="page-header">Usuários</h1>
                    </div>  
                    <h2 class="sub-header">Cadastro de Usuários</h2>

                    <h:form>

                        <p:growl id="growl" showDetail="true" autoUpdate="true" life="5000"/> 

                        <div class="form-group col-xs-12">
                            <p:outputLabel  for="nome" value="Nome Completo:" />
                            <p:inputText value="#{controleUsuario.usuario.nome}" class="form-control" id="nome" required="true" placeholder="Digite seu nome completo"/>
                        </div>

                        <div class="form-group col-xs-12">
                            <p:outputLabel  for="apelido" value="Apelido:" />
                            <p:inputText value="#{controleUsuario.usuario.apelido}" class="form-control" id="apelido" required="true" placeholder="Como você quer ser chamado"/>
                        </div>

                        <div class="form-group col-xs-12 col-md-2">
                            <p:outputLabel for="rg" value="RG" />
                            <p:inputMask class="form-control" id="rg" mask="9.999.999-9?9" value="#{controleUsuario.usuario.rg}" required="true" placeholder="Apenas números"/>
                        </div>

                        <div class="form-group col-xs-12 col-md-2">
                            <p:outputLabel for="cpf" value="CPF"/>
                            <p:inputMask class="form-control" id="cpf" value="#{controleUsuario.usuario.cpf}" validator="cpfValidator" validatorMessage="Digite um CPF válido" mask="999.999.999-99" immediate="true" required="true" placeholder="Apenas números"/>
                        </div>

                        <div class="form-group col-xs-12 col-md-2">
                            <p:outputLabel for="telefone" value="Telefone:"/>
                            <p:inputMask class="form-control" id="telefone" mask="(99)?9999-9999" maxlength="11" value="#{controleUsuario.usuario.telefone}" required="true" placeholder="Ex:(00)00000-0000"/>
                        </div>

                        <div class="form-group col-xs-12 col-md-3 ">
                            <p:outputLabel for="escolaridade" value="Escolaridade:" />
                            <h:selectOneMenu class="form-control" id="escolaridade" required="true"  value="#{controleUsuario.usuario.escolaridade}">
                                <f:selectItem itemLabel="Escolha uma opção" itemValue="" noSelectionOption="true" />
                                <f:selectItem itemLabel="Ensino Fundamental" itemValue="Ensino Fundamental" />
                                <f:selectItem itemLabel="Ensino Médio" itemValue="Ensino Médio"/>
                                <f:selectItem itemLabel="Ensino Superior" itemValue="Ensino Superior"/>
                            </h:selectOneMenu>
                        </div>      

                        <div class="form-group col-xs-12 col-md-3">
                            <p:outputLabel for="cep" value="CEP"/>
                            <p:inputMask class="form-control" id="cep" value="#{controleUsuario.endereco.cep}" mask="99999-999" required="true" placeholder="Apenas números"/>
                        </div>

                        <div class="form-group col-xs-12 col-md-3 ">
                            <p:outputLabel for="estado" value="Estado" />
                            <h:selectOneMenu class="form-control" id="estado" required="true"  value="#{controleUsuario.estado.id}">
                                <f:selectItem itemLabel="Escolha uma opção" itemValue="" noSelectionOption="true" />
                                <f:selectItems value="#{controleUsuario.estados}" var="est" itemLabel="#{est.nome}" itemValue="#{est.id}" />
                                <f:ajax execute="@this" render="cidade" event="change" listener="#{controleCadastro.getListaCidadesEstado()}" />		
                            </h:selectOneMenu>
                        </div>

                        <div class="form-group col-xs-12 col-md-3 ">
                            <p:outputLabel for="cidade" value="Cidade" />
                            <h:selectOneMenu class="form-control" id="cidade" required="true" value="#{controleUsuario.cidade.id}">
                                <f:selectItem itemLabel="Escolha uma opção" itemValue="" noSelectionOption="true"/>
                                <f:selectItems value="#{controleUsuario.getListaCidadesEstado()}" var="cid" itemLabel="#{cid.nome}" itemValue="#{cid.id}"/>
                            </h:selectOneMenu>
                        </div>               

                        <div class="form-group col-xs-12 col-md-6">
                            <p:outputLabel for="bairro" value="Bairro:"/>
                            <p:inputText class="form-control" id="bairro" value="#{controleUsuario.endereco.bairro}" required="true" placeholder="Nome do seu bairro"/>
                        </div>

                        <div class="form-group col-xs-12 col-md-8">
                            <p:outputLabel for="endereco" value="Endereço:"/> 
                            <p:inputText class="form-control" id="endereco" value="#{controleUsuario.endereco.rua}" placeholder="Ex: Rua das Mitagens"/>
                        </div>

                        <div class="form-group col-xs-12 col-md-4">
                            <p:outputLabel for="numero" value="Numero:"/>
                            <p:inputText class="form-control" id="numero" value="#{controleUsuario.endereco.numero}" required="true" placeholder="Apenas números"/>
                        </div>



                        <div class="form-group col-xs-12 col-md-4">
                            <p:outputLabel for="email" value="E-mail:"/>
                            <p:inputText class="form-control" id="email" value="#{controleUsuario.usuario.email}" validator="emailValidator" immediate="true" required="true" placeholder="Ex: birl@mutante.com.br"/> 
                        </div>

                        <div class="form-group col-xs-12 col-md-4">
                            <p:outputLabel for="password1"  value="Senha:"/>
                            <p:password class="form-control" id="password1" match="password2" requiredMessage="Campo Senha Obrigatório" validator="passwordValidator" feedback="true" 
                                        inline="true" promptLabel="Força da sua senha" goodLabel="Boa" weakLabel="Fraca" strongLabel="Forte" 
                                        value="#{controleUsuario.senha}" required="true"  maxlength="22" placeholder="Digite sua senha"/>
                        </div>

                        <div class="form-group col-xs-12 col-md-4">
                            <p:outputLabel for="password2" value="Confirme sua Senha:"/>
                            <p:password class="form-control" id="password2" required="true"  placeholder="Digite sua senha novamente"/>
                        </div>

                        <div class="form-group col-xs-12 col-md-3 ">
                            <p:outputLabel for="role" value="Autorização" />
                            <h:selectOneMenu class="form-control" id="role" required="true"  value="#{controleUsuario.usuario.autorizacao}">
                                <f:selectItem itemLabel="Escolha uma opção" itemValue="" noSelectionOption="true" />
                                <f:selectItem itemLabel="Usuário" itemValue="USER" />
                                <f:selectItem itemLabel="Administrador" itemValue="ADMIN"/>
                            </h:selectOneMenu>
                        </div> 

                        <div class="form-group col-xs-12 col-md-12">
                            <p:commandButton class="btn btn-default" id="enviar" value="Enviar" update="growl" action="#{controleUsuario.cadastro()}" />
                        </div>

                        <input type="hidden"
                               name="${_csrf.parameterName}"
                               value="${_csrf.token}"/>
                    </h:form>

                </div>
            </div>
        </div>


        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="js/ie10-viewport-bug-workaround.js"></script>
    </h:body>
</html>