<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:p="http://primefaces.org/ui"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>	
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="author" content="Gabriel Soligo"/>


        <title>SISEVENTOS - Cadastro de Noticia</title>


        <!-- CSS -->
        <link href="../../resources/css/bootstrap.css" rel="stylesheet" type="text/css"/>
        <link href="../../resources/css/style.css" rel="stylesheet" type="text/css" />

        <!--IE10 viewport hack for Surface/desktop Windows 8 bug--> 
        <link href="../../resources/css/ie10-viewport-bug-workaround.css" rel="stylesheet"/>

        <!--Custom styles for this template--> 
        <link href="../../resources/css/painel.css" rel="stylesheet"/>

        <!-- Chamadas JS -->
        <!--        <script src="../../resources/js/jquery.min.js" type="text/javascript"></script>-->
        <script src="../../resources/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="https://use.fontawesome.com/a44030ac75.js"></script>
        <script src="../../resources/js/JavascriptPrimefacesCalendarLocale.js"></script>

        <!--IE10 viewport hack for Surface/desktop Windows 8 bug--> 
        <!--        <script src="js/ie10-viewport-bug-workaround.js"></script>-->


    </h:head>
    <h:body>         
        <!-- MENU TOPO -->
        <ui:include src="../../resources/templates/template-menu-topo-alternativo-admin.xhtml"/>
        <!--FIM DO MENU TOPO -->
        <!-- CORPO -->        
        <div class="container-fluid">
            <div class="row">                
                <div class="col-sm-3 col-md-2 sidebar">                    
                    <ui:include src="../../resources/templates/template-menu-lateral-admin.xhtml"/>
                </div>
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main"> 
                    <div class="container">
                        <h1 class="page-header">Evento</h1>
                    </div>                   

                    <h2 class="sub-header">Adicionar Avaliador</h2>

                    <h:form id="form" enctype="multipart/form-data">

                        <p:growl id="growl" class="ui-growl" showDetail="true" autoUpdate="true" life="5000"/>   

                        <div class="form-group col-md-10">
                            <p:outputLabel  for="nome" value="Titulo da notícia:" />
                            <p:inputText value="#{controleNoticia.noticia.nomeNoticia}" class="form-control" id="nome" required="true" placeholder="Digite o titulo da notícia"/>
                        </div>
                        <div class="form-group col-md-6">
                            <p:outputLabel  for="categoria-noticia" value="Categorias da notícia" />
                            <p:inputText value="#{controleNoticia.noticia.categoriaNoticia}" class="form-control" id="categoria-noticia" required="true" placeholder="Ex: Eventos, Tads..."/>
                        </div>
                        <div class="form-group col-md-12 ">                            
                            <p:fileUpload id="upload" fileUploadListener="#{controleNoticia.handleFileUpload}" required="true" label="Escolher"  immediate="true"  mode="advanced"
                                          dragDropSupport="true" update="form:growl" fileLimit="5" multiple="true" skinSimple="true" allowTypes="/(\.|\/)(png|jp?g|bnp)$/" />
                        </div> 

                        <div class="form-group col-md-12">
                            <p:editor id="editor" widgetVar="editorWidget" value="#{controleNoticia.noticia.descricaoNoticia}"  width="900" />

                            <h:panelGrid columns="2" style="margin-top: 10px">
                                <p:commandButton value="Enviar"  action="#{controleNoticia.cadastrarNoticia()}" ajax="true" icon="ui-icon-disk" update="growl"/>

                                <p:commandButton value="Limpar" type="button" onclick="PF('editorWidget').clear();" icon="ui-icon-close" />
                            </h:panelGrid>

                            <p:dialog header="Content" widgetVar="dlg" showEffect="fade" hideEffect="fade">
                                <h:outputText id="display" value="TESTE" escape="false" />
                            </p:dialog>
                        </div>




                        <!-- Token de segurança para evitar ataques DDOS -->
                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                        <!-- Fim do token -->
                    </h:form>
                </div>
            </div>
        </div>
        <!-- FIM CORPO -->
    </h:body>
</html>

