<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:p="http://primefaces.org/ui"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>	
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="author" content="Gabriel Soligo"/>


        <title>SISEVENTOS - Detalhes Eventos</title>


        <!-- CSS -->
        <link href="../../resources/css/bootstrap.css" rel="stylesheet" type="text/css"/>
        <link href="../../resources/css/style.css" rel="stylesheet" type="text/css" />

        <!--IE10 viewport hack for Surface/desktop Windows 8 bug--> 
        <link href="../../resources/css/ie10-viewport-bug-workaround.css" rel="stylesheet"/>

        <!--Custom styles for this template--> 
        <link href="../../resources/css/painel.css" rel="stylesheet"/>

        <!-- Chamadas JS -->
        <!--        <script src="../../resources/js/jquery.min.js" type="text/javascript"></script>-->
        <script src="../../resources/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="https://use.fontawesome.com/a44030ac75.js"></script>

        <!--IE10 viewport hack for Surface/desktop Windows 8 bug--> 
        <!--        <script src="js/ie10-viewport-bug-workaround.js"></script>-->


    </h:head>
    <h:body>         
        <!-- MENU TOPO -->
        <ui:include src="../../resources/templates/template-menu-topo-alternativo-admin.xhtml"/>
        <!--FIM DO MENU TOPO -->
        <!-- CORPO -->   
        <div class="container-fluid">
            <div class="row">                
                <div class="col-sm-3 col-md-2 sidebar">                    
                    <ui:include src="../../resources/templates/template-menu-lateral-admin.xhtml"/>
                </div>
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    <div class="container-fluid">
                        <h1 class="page-header">Eventos</h1>
                    </div>

                    <h2 class="sub-header">Detalhes</h2>  

                    <h:form id="form" acceptcharset="UTF-8">

                        <p:growl id="growl" showDetail="true" autoUpdate="true" life="5000"/>

                        <div class="form-group col-xs-12">
                            <h:inputHidden id="id" value="#{controleEvento.evento.id}" />
                        </div>

                        <div class="form-group col-xs-12">
                            <p:outputLabel  for="nome" value="Nome do Evento:" />
                            <p:inputText id="nome" value="#{controleEvento.evento.nomeDoEvento}" class="form-control" readonly="#{facesContext.renderResponse}"/>
                        </div>

                        <div class="form-group col-xs-12">
                            <p:outputLabel for="tipo" value="Tipo de Evento" />
                            <p:inputText class="form-control" id="tipo"  value="#{controleEvento.evento.tipoEvento.tipo}"  readonly="#{facesContext.renderResponse}"/>
                        </div>  

                        <div class="form-group col-xs-12">
                            <p:outputLabel for="endereco" value="Local do Evento"/> 
                            <p:inputText class="form-control" id="endereco" value="#{controleEvento.evento.local}" readonly="#{facesContext.renderResponse}"/>
                        </div>

                        <div class="form-group col-xs-2 ">
                            <p:outputLabel for="vagas" value="Quantidade de vagas totais"/> 
                            <p:inputText class="form-control" id="vagas" value="#{controleEvento.evento.totalVagas}"  readonly="#{facesContext.renderResponse}"/>
                        </div>    

                        <div class="form-group col-xs-2 ">
                            <p:outputLabel for="vagasRestantes" value="Quantidade de vagas restantes"/> 
                            <p:inputText class="form-control" id="vagasRestantes" value="#{controleEvento.evento.vagasRestantes}"  readonly="#{facesContext.renderResponse}"/>
                        </div>

                        <div class="form-group col-xs-2 ">
                            <p:outputLabel for="data" value="Data do Evento"/> 
                            <p:calendar id="data" value="#{controleEvento.evento.data}"  disabled="true" pattern="dd/MM/yyyy HH:mm" readonly="#{facesContext.renderResponse}"/>
                        </div>

                        <div class="form-group col-xs-12">
                            <p:outputLabel for="requisitos" value="Requisitos"/> 
                            <p:inputText class="form-control" id="requisitos"  value="#{controleEvento.evento.requisitos}" readonly="#{facesContext.renderResponse}"/>
                        </div>

                        <div class="form-group col-xs-12">
                            <p:outputLabel for="descricao" value="Descrição do Evento" />
                            <p:inputTextarea class="form-control" id="descricao"  value="#{controleEvento.evento.descricaoEvento}" readonly="#{facesContext.renderResponse}"/>
                        </div>   

                        <div class="form-group col-xs-6">
                            <p:commandButton class="btn btn-default" id="alterar" value="Alterar"  action="#{controleEvento.acaoAlterar(evento)}" ajax="false" update="growl"/>
                        </div>

                        <div class="form-group col-xs-6">
                            <p:commandButton class="btn btn-default" id="excluir" value="Excluir"  action="#{controleEvento.acaoExcluir(evento)}" ajax="false" update="growl" />
                        </div>  

                        <div class="form-group col-xs-6">
                            <p:commandButton class="btn btn-default" id="avaliador" value="Adcionar avaliador"  action="#{controleEvento.acaoAvaliador()}" ajax="false" update="growl"/>
                        </div> 

                        <!--                        <div class="form-group col-xs-3">
                                                    <h:commandButton class="btn btn-default" id="inscricao" value="Inscrever-se"  action="{controleEvento.acaoInscricao(evento)}" />
                                                </div>-->

                        <input type="hidden"
                               name="${_csrf.parameterName}"
                               value="${_csrf.token}"/>
                    </h:form>

                </div>
            </div>
        </div>
        <!-- FIM CORPO -->
    </h:body>
</html>



