<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="author" content="Gabriel Soligo"/>


        <title>Meu Perfil</title>


        <!-- CSS -->
        <link href="../../resources/css/bootstrap.css" rel="stylesheet" type="text/css"/>
        <link href="../../resources/css/style.css" rel="stylesheet" type="text/css" />

        <!--IE10 viewport hack for Surface/desktop Windows 8 bug--> 
        <link href="../../resources/css/ie10-viewport-bug-workaround.css" rel="stylesheet"/>

        <!--Custom styles for this template--> 
        <link href="../../resources/css/painel.css" rel="stylesheet"/>

        <!-- Chamadas JS -->
        <!--        <script src="../../resources/js/jquery.min.js" type="text/javascript"></script>-->
        <script src="../../resources/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="https://use.fontawesome.com/a44030ac75.js"></script>

        <!--IE10 viewport hack for Surface/desktop Windows 8 bug--> 
        <!--        <script src="js/ie10-viewport-bug-workaround.js"></script>-->

    </h:head>
    <h:body>
        <ui:include src="../../resources/templates/template-menu-topo-alternativo-admin.xhtml"/> 

        <div class="container-fluid">
            <div class="row">                
                <div class="col-sm-3 col-md-2 sidebar">                    
                    <ui:include src="../../resources/templates/template-menu-lateral-admin.xhtml"/>
                </div>
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    <div class="container-fluid">
                        <h1 class="page-header">Usuários do Sistema</h1>
                    </div>

                    <h3 class="sub-header">Registros</h3>
                    
                    <!-- botão de exibir relatorio de usuarios -->
                    <h:form id="relatorio" class="menu-relatorio-dentro">                        
                            
                        <p:commandButton actionListener="#{emitirRelatorio.emitir()}" ajax="false"
                            title="Gera um relatório de todos os usuários do sistema." value="Baixar Relatório" 
                            icon="fa fa-file-text"/>
                            
                    <!-- Token de segurança para evitar ataques DDOS -->
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                    <!-- Fim do token -->
                      
                    </h:form>
                    <div class="table-responsive">

                        <h:form id="form">

                            <p:growl id="growl" class="ui-growl" showDetail="true" autoUpdate="true" life="5000"/> 

                            <p:dataTable  id="lista" var="user"  value="#{controleUsuario.usuarios}" scrollable="true">                                 
                                <p:column  headerText="ID" sortBy="#{user.id}">  
                                    <h:outputText  value="#{user.id}" />   
                                </p:column>

                                <p:column headerText="Nome" sortBy="#{user.nome}">  
                                    <h:outputText value="#{user.nome}" />
                                </p:column>

                                <p:column  headerText="RG" sortBy="#{user.rg}"> 
                                    <h:outputText value="#{user.rg}" />
                                </p:column>

                                <p:column headerText="CPF" sortBy="#{user.cpf}">  
                                    <h:outputText value="#{user.cpf}" />
                                </p:column>

                                <p:column headerText="Escolaridade" sortBy="#{user.escolaridade}"> 
                                    <h:outputText value="#{user.escolaridade}" />
                                </p:column>

                                <p:column headerText="Email" sortBy="#{user.email}"> 
                                    <h:outputText value="#{user.email}" />
                                </p:column> 

<!--                                <p:column headerText="Alterar">
                                    <p:commandButton action="{controleUsuario.acaoAlterar(user)}" icon="fa fa-edit"/>                                  
                                </p:column>
                                
                                <p:column headerText="Excluir">
                                    
                                    <p:commandButton action="{controleEvento.acaoExcluir(user)}" icon="fa fa-edit"/>
                                    
                                </p:column>-->
                                

                            </p:dataTable>
                            <!-- Token de segurança para evitar ataques DDOS -->
                            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                            <!-- Fim do token -->
                        </h:form>
                    </div>
                </div>
            </div>
        </div>
    </h:body>
</html>



