<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
		<!-- Chamadas JS -->
        <script src="../../resources/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="https://use.fontawesome.com/a44030ac75.js"></script>
    </h:head>
    <h:body>

    </h:body>
</html>

