<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <h:head>

    </h:head>
    <h:body>       
        <nav role="navigation" class="navbar navbar-default navbar-fixed-top">
            <div  class="container">
                <div  class="navbar-header">
                    <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">                    
                        <span class="sr-only">Navegação Responsiva</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>                
                    </button>                
                    <a class="" href="../../pages/public/index.xhtml">
                        <img class="logo" src="../../resources/images/logo.svg"/>
                    </a>              
                </div>
                <div  id="navbarCollapse" class="collapse navbar-collapse">                   
                    <ul class="nav navbar-nav">
                        <li><a href="../../pages/public/index.xhtml">Home</a></li>
                        <li><a href="../../pages/public/noticias.xhtml">Notícias</a></li>
                        <li><a href="../../pages/public/eventos.xhtml">Eventos</a></li>
                        <li><a href="../../pages/user/exibir-eventos.xhtml">Meu Perfil</a></li>
                        <p:panelGrid rendered="#{request.isUserInRole('ADMIN')}" >
                            <li><a href="../../pages/admin/exibir-eventos.xhtml">Administrador</a></li>
                        </p:panelGrid>
                    </ul>                    

                    <li class="botao-menu nav navbar-nav">
                        <p:panelGrid rendered="#{empty request.remoteUser}">
                            <a href="../../login.xhtml"><button type="button" class="btn btn-primary navbar-btn">Login</button></a>
                            <a href="../../pages/public/cadastro.xhtml"><button type="button" class="btn btn-default navbar-btn">Cadastre-se</button></a>
                        </p:panelGrid>

                        <p:panelGrid rendered="#{not empty request.remoteUser}">
                            <img class="img-user" src="../../resources/images/300x300.png" width="30px" />
                            <h:outputText class="text-center menu-boas-vindas" value="Olá, #{controleUsuario.usuarioLogado.apelido}"/>
                            <div class="botao-sair">
                                <form action="${request.contextPath}/j_spring_security_logout" method="post">
                                    <input type="submit" value="Sair" />
                                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                                </form>
                            </div>
                        </p:panelGrid>
                    </li>
                </div>
            </div>
        </nav>
    </h:body>
</html>

