<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>

    </h:head>
    <h:body>
        <!-- SLIDE -->
        <div class="single-item" style="margin:-20px 0 0 0;">
            <div>
                <a href="evento.html"><img src="../../resources/images/slide1.jpg"/></a>
            </div>
            <div>
                <img src="../../resources/images/slide2.jpg"/>
            </div>
        </div>

        <!-- FIM SLIDE -->
        <!-- SCRIPTS -->
        <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
        <script src="../../resources/js/slick.js" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript">
            $(document).on('ready', function () {
                $('.single-item').slick(
                        {
                            dots: true,
                            autoplay: true,
                            prevArrow: true,
                            nextArrow: true
                        }
                );

            });

        </script>
    </h:body>
</html>

