<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <h:head>

    </h:head>
    <h:body>
        <h:form class="menu-lateral">
            <!--            <h3>Toggleable</h3>-->
            <p:menu toggleable="true" >
                <p:submenu label="Minha Conta">
                    <p:menuitem value="Meus Dados" outcome="alterar-usuario" icon="fa fa-user"  />
                    <p:menuitem value="Meu Endereço"  outcome="alterar-endereco" icon="fa fa-home"/>
                    <p:menuitem value="Minha Senha" outcome="alterar-senha"   icon="fa fa-lock"/>
                    <p:menuitem value="Meu E-mail" outcome="alterar-email"  icon="fa fa-envelope"/>
                </p:submenu>
                <p:submenu label="Meus Eventos">                    
                    <p:menuitem value="Eventos Terminados"  outcome="exibir-eventos-terminados" ajax="true" icon="fa fa-calendar-o"/>
                    <p:menuitem value="Eventos Futuros"  outcome="exibir-eventos-futuros" ajax="true" icon="fa fa-calendar"/>
                    <p:menuitem value="Meus Certificados"   ajax="true" icon="fa fa-certificate"/>
                </p:submenu> 
                <p:submenu label="Meus Trabalhos">
                    <p:menuitem value="Enviar Trabalhos" outcome="enviar-trabalho"  ajax="true" icon="fa fa-cloud-upload"/>
                    <p:menuitem value="Trabalhos Enviados"   ajax="true" icon="fa fa-cloud"/>
                    <p:menuitem value="Avaliações"   ajax="true" icon="fa fa-check-square-o"/>
                </p:submenu>      
                <p:submenu label="Avaliador">
                    <p:menuitem value="Trabalhos pendentes"   ajax="true" icon="fa fa-cloud-upload"/>
                    <p:menuitem value="Avaliações"   ajax="true" icon="fa fa-check-square-o"/>
                </p:submenu>     
            </p:menu>     
        </h:form>

    </h:body>
</html>

