<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:body>              
        <div class="clear"></div>
        <div class="footer">
            <div class="footer-dentro">
                © 2016 FDS Systens. Todos os direitos reservados.
            </div>
        </div>
    </h:body>
</html>

