<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="../../resources/css/bootstrap.css"/>
        <link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'/>
        <link rel="stylesheet" type="text/css" href="../../resources/css/style.css" />
        <link rel="stylesheet" type="text/css" href="../../resources/css/slick.css"/>
        <link rel="stylesheet" type="text/css" href="../../resources/css/slick-theme.css"/>
    </h:head>
    <h:body>
        
    </h:body>
</html>

