<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <h:head>

    </h:head>
    <h:body>
        <h:form class="menu-lateral">
            <!--            <h3>Toggleable</h3>-->
            <p:menu toggleable="true" >
                <p:submenu label="Usuarios">
                    <p:menuitem value="Cadastrar Usuario" outcome="cadastro" icon="fa fa-plus"/>
                    <p:menuitem value="Exibir Usuarios" outcome="exibir-usuarios" icon="fa fa-users"/>                                            
                </p:submenu>                             
                <p:submenu label="Eventos">                    
                    <p:menuitem value="Cadastrar Evento" outcome="cadastro-evento" icon="fa fa-plus"/>
                    <p:menuitem value="Todos os Eventos"  outcome="exibir-eventos" ajax="true" icon="fa fa-table"/>                                              
                </p:submenu> 
                <p:submenu label="Notícias">                    
                    <p:menuitem value="Cadastrar Notícia" outcome="cadastro-noticia" icon="fa fa-plus"/>
                                                                
                </p:submenu>

            </p:menu>    
        </h:form>

    </h:body>
</html>

