<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <!-- CSS  -->
        <ui:include src="../../resources/templates/template-links-css.xhtml"/>   

        <!-- Chamadas JS  -->
        <ui:include src="../../resources/templates/template-links-js.xhtml"/>


    </h:head>
    <!-- TITULO -->
    <title>SISEVENTOS - Eventos</title>

    <h:body style="padding-top:50px; background:#1F5181;">
        <!-- MENU TOPO -->
        <ui:include src="../../resources/templates/template-menu-topo.xhtml"/> 

        <!-- CONTEÚDO -->
        <!-- CORPO -->      
                <h:form id="form">
                    <div class=" container-fluid text-center ">
                        <p:carousel autoPlayInterval="5000" numVisible="1"  value="#{controleExibirEvento.eventosFuturos}" var="evento">              
        
                                <p:graphicImage value="/uploads/eventos/#{evento.id.toString()}#{evento.nomeImagem}" width="950" height="500" alt="#{evento.nomeDoEvento}" title="#{evento.nomeDoEvento}"/>
        
                        </p:carousel>
                    </div>
                </h:form>

 
        <!-- FOOTER -->
        <ui:include src="../../resources/templates/template-footer.xhtml"/>
    </h:body>
</html>

