<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>SISEVENTOS - #{controleNoticia.noticia.nomeNoticia}</title>
        
        <!-- CSS  -->
        <ui:include src="../../resources/templates/template-links-css.xhtml"/>   

        <!-- Chamadas JS  -->
        <ui:include src="../../resources/templates/template-links-js.xhtml"/>
    </h:head>
        <h:body style="padding-top:50px; background:#1F5181;">
        
		<!-- MENU TOPO -->
                <ui:include src="../../resources/templates/template-menu-topo.xhtml"/> 
		<!--FIM DO MENU TOPO -->
                
        <!-- CORPO -->
		
		
        <div class="titulo">
            <div class="container">
                <h1>#{controleNoticia.noticia.nomeNoticia}</h1>
                <h4>#{controleNoticia.noticia.categoriaNoticia}</h4>
                <center>
                    <button type="button" class="btn btn-default btn-sm"> <i class="fa fa-google-plus" style="color:#DD4B38" ></i> </button>
                    <button type="button" class="btn btn-default btn-sm"> <i class="fa fa-facebook-square" style="color:#4C6092"></i> </button>
                    <button type="button" class="btn btn-default btn-sm"> <i class="fa fa-twitter-square" style="color:#0CA7DB"></i> </button>
                </center>
            </div>
        </div>
        <div class="container-fluid cadastro-inteiro">	
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-4 ">
                        <h4>Inscrições abertas até o dia 25/07/16</h4>
                        <button type="button" class="btn btn-primary btn-lg btn-block">Inscrever-se</button>
                    </div>
                    <div class="conteudo-eventos col-xs-12 col-sm-6 col-md-8">
                        <p>#{controleNoticia.noticia.descricaoNoticia}</p>
                    </div>
                </div>
            </div>
        </div>
	<!-- FIM CORPO -->

	<!-- FOOTER -->
	<ui:include src="../../resources/templates/template-footer.xhtml"/>
        
	</h:body>
</html>
