<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="pt-BR"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>   
       <!-- TITULO -->
        <title>SISEVENTOS - Sistema de Gerenciamento de Eventos</title> 

        <!-- CSS -->
        <ui:include src="../../resources/templates/template-links-css.xhtml"/>

        <!-- Chamadas JS -->
        <script src="../../resources/js/jquery.min.js" type="text/javascript"></script>
        <script src="../../resources/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="https://use.fontawesome.com/a44030ac75.js"></script>  
    </h:head>    
    <h:body style="padding-top:70px; background:#1F5181;"> 
        <!-- MENU TOPO -->
        <ui:include src="../../resources/templates/template-menu-topo.xhtml"/>
        <!--FIM DO MENU TOPO -->

        <h:form id="form">
            <p:growl id="growl" class="ui-growl" showDetail="true" autoUpdate="true" life="5000"/> 
        </h:form>
        <!-- SLIDE E SCRIPT -->
        <ui:include src="../../resources/templates/template-slide-com-script.xhtml"/>
        <!-- FIM SLIDE -->

        <!-- FOOTER -->
        <ui:include src="../../resources/templates/template-footer.xhtml"/>
    </h:body>
</html>

