<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
       <meta http-equiv="Content-Type" content="text/xhtml; charset=utf-8" />
       <!-- CSS  -->
       <ui:include src="../../resources/templates/template-links-css.xhtml"/>   

       <!-- Chamadas JS  -->
       <ui:include src="../../resources/templates/template-links-js.xhtml"/>
		
		
    </h:head>
    <!-- TITULO -->
        <title>SISEVENTOS - Noticias</title>
        
    <h:body style="padding-top:50px; background:#1F5181;">
        <!-- MENU TOPO -->
        <ui:include src="../../resources/templates/template-menu-topo.xhtml"/> 

        <!-- CONTEÚDO -->
        <!-- CORPO -->
        <div class="titulo">
            <div class="container">
                <h1>NOTÍCIAS</h1>
                <h4>Notícias disponíveis!</h4>
                <center>
                    <button type="button" class="btn btn-default btn-sm"> <i class="fa fa-google-plus" style="color:#DD4B38" ></i> </button>
                    <button type="button" class="btn btn-default btn-sm"> <i class="fa fa-facebook-square" style="color:#4C6092"></i> </button>
                    <button type="button" class="btn btn-default btn-sm"> <i class="fa fa-twitter-square" style="color:#0CA7DB"></i> </button>
                </center>
            </div>
        </div>
        <h:form id="form">
        <div class="container-fluid cadastro-inteiro">
            <div class="container">
                <!--tentar ui:repeat-->
                <p:dataList  value="#{controleNoticia.listaNoticias}"  var="noticia">
		<div class="eventos col-md-3 col-sm-6 col-xs-12">
                    <a href="exibir-noticia.xhtml"><!-- LINK DO EVENTO -->
                        <p:graphicImage name="/uploads/notícias/#{noticia.id}#{noticia.nomeImagem}" />
                        <h2>#{noticia.nomeNoticia}</h2>
                    </a><!-- LINK DO EVENTO -->
                    <h5><strong>Categorias:</strong> #{noticia.categoriaNoticia}</h5>
		</div>
                </p:dataList>
            </div>
        </div>
        </h:form>

        <!-- FOOTER -->
        <ui:include src="../../resources/templates/template-footer.xhtml"/>
    </h:body>
</html>

