<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="author" content="Gabriel Soligo"/>


        <title>Meu Perfil</title>

        <!-- CSS -->
        <link href="../../resources/css/bootstrap.css" rel="stylesheet" type="text/css"/>
        <link href="../../resources/css/style.css" rel="stylesheet" type="text/css" />

        <!--IE10 viewport hack for Surface/desktop Windows 8 bug--> 
        <link href="../../resources/css/ie10-viewport-bug-workaround.css" rel="stylesheet"/>

        <!--Custom styles for this template--> 
        <link href="../../resources/css/painel.css" rel="stylesheet"/>

        <!-- Chamadas JS -->
        <ui:include src="../../resources/templates/template-links-js.xhtml"/>

        <!--IE10 viewport hack for Surface/desktop Windows 8 bug--> 
        <script src="../../resources/js/ie10-viewport-bug-workaround.js"></script>

    </h:head>
    <h:body>
        <ui:include src="../../resources/templates/template-menu-topo-alternativo.xhtml"/>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    <ui:include src="../../resources/templates/template-menu-lateral.xhtml"/>
                </div>
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    <div class="container">
                        <h1 class="page-header">Usuarios</h1>
                    </div>  
                    <h2 class="sub-header">Alterar Endereço</h2>

                    <h:form>
                        <div class="form-group col-xs-12">
                            <h:inputHidden value="#{controleUsuario.usuarioLogado.endereco.id}" />
                        </div>                             

                        <div class="form-group col-xs-12 col-md-8">
                            <p:outputLabel for="endereco" value="Endereço:"/> 
                            <p:inputText class="form-control" id="endereco" value="#{controleUsuario.usuarioLogado.endereco.rua}" placeholder="Ex: Rua das Mitagens"/>
                        </div>

                        <div class="form-group col-xs-12 col-md-4">
                            <p:outputLabel for="numero" value="Numero:"/>
                            <p:inputText class="form-control" id="numero" value="#{controleUsuario.usuarioLogado.endereco.numero}" required="true" placeholder="Apenas números"/>
                        </div>

                        <div class="form-group col-xs-12 col-md-3">
                            <p:outputLabel for="cep" value="CEP"/>
                            <p:inputMask class="form-control" id="cep" value="#{controleUsuario.usuarioLogado.endereco.cep}" mask="99999-999" required="true" placeholder="Apenas números"/>
                        </div>

                        <div class="form-group col-xs-12 col-md-3 ">
                            <p:outputLabel for="estado" value="Estado" />
                            <h:selectOneMenu class="form-control" id="estado" required="true"  value="#{controleUsuario.estado.id}">
                                <f:selectItem itemLabel="#{controleUsuario.usuarioLogado.endereco.cidade.estado.nome}" itemValue="#{controleUsuario.usuarioLogado.endereco.cidade.estado.id}"  />
                                <f:selectItems value="#{controleUsuario.estados}" var="est" itemLabel="#{est.nome}" itemValue="#{est.id}" />
                                <f:ajax execute="@this" render="cidade" event="change" listener="#{controleUsuario.getListaCidadesEstado()}" />		
                            </h:selectOneMenu>
                        </div>

                        <div class="form-group col-xs-12 col-md-3">
                            <p:outputLabel for="cidade" value="Cidade" />
                            <h:selectOneMenu class="form-control" id="cidade" required="true" value="#{controleUsuario.cidade.id}">
                                <f:selectItem itemLabel="#{controleUsuario.usuarioLogado.endereco.cidade.nome}" itemValue="#{controleUsuario.usuarioLogado.endereco.cidade.id}"/>
                                <f:selectItems value="#{getListaCidadesEstado()}" var="cid" itemLabel="#{cid.nome}" itemValue="#{cid.id}"/>
                            </h:selectOneMenu>
                        </div>               

                        <div class="form-group col-xs-12 col-md-3">
                            <p:outputLabel for="bairro" value="Bairro:"/>
                            <p:inputText class="form-control" id="bairro" value="#{controleUsuario.usuarioLogado.endereco.bairro}" required="true" placeholder="Nome do seu bairro"/>
                        </div>





                        <input type="hidden"
                               name="${_csrf.parameterName}"
                               value="${_csrf.token}"/>
                        <div class="form-group col-xs-12 col-md-4">
                            <p:commandButton class="btn btn-default" id="enviar" value="Enviar"  action="#{controleUsuario.alterar()}"  ajax="false" update="growl"/>
                        </div>
                    </h:form>

                </div>
            </div>
        </div>
</html>


