<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="author" content="Gabriel Soligo"/>


        <title>Meu Perfil</title>

        <!-- CSS -->
        <link href="../../resources/css/bootstrap.css" rel="stylesheet" type="text/css"/>
        <link href="../../resources/css/style.css" rel="stylesheet" type="text/css" />

        <!--IE10 viewport hack for Surface/desktop Windows 8 bug--> 
        <link href="../../resources/css/ie10-viewport-bug-workaround.css" rel="stylesheet"/>

        <!--Custom styles for this template--> 
        <link href="../../resources/css/painel.css" rel="stylesheet"/>

        <!-- Chamadas JS -->
        <script src="../../resources/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="https://use.fontawesome.com/a44030ac75.js"></script>

        <!--IE10 viewport hack for Surface/desktop Windows 8 bug--> 
        <script src="../../resources/js/ie10-viewport-bug-workaround.js"></script>

    </h:head>
    <h:body>
        <ui:include src="../../resources/templates/template-menu-topo-alternativo.xhtml"/>

        <div class="container-fluid">
            <div class="row">

                <div class="col-sm-3 col-md-2 sidebar">
                    <ui:include src="../../resources/templates/template-menu-lateral.xhtml"/>
                </div>

                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

                    <div class="container">
                        <h1 class="page-header">Usuarios</h1>
                    </div>  
                    <h2 class="sub-header">Alterar E-mail</h2>

                    <h:form>
                        
                        <p:growl id="growl" class="ui-growl" showDetail="true" autoUpdate="true" life="5000"/> 

                        <div class="form-group col-xs-12">
                            <h:inputHidden value="#{controleUsuario.usuarioLogado.id}" />
                        </div>                        

                        <div class="form-group col-xs-12 col-md-12">
                            <p:outputLabel for="email" value="E-mail:"/>
                            <p:inputText class="form-control" id="email" value="#{controleUsuario.usuarioLogado.email}"  required="true" placeholder="Ex: birl@mutante.com.br"/> 
                        </div>

                        <input type="hidden"
                               name="${_csrf.parameterName}"
                               value="${_csrf.token}"/>

                        <div class="form-group col-xs-12 col-md-4">
                            <p:commandButton class="btn btn-default" id="enviar" value="Enviar" update="growl" ajax="false"  action="#{controleUsuario.alterar()}" />
                        </div>

                    </h:form>
                </div>
            </div>
        </div>
    </h:body>
</html>


