<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="author" content="Gabriel Soligo"/>


        <title>Meu Perfil</title>

        <!-- CSS -->
        <link href="../../resources/css/bootstrap.css" rel="stylesheet" type="text/css"/>
        <link href="../../resources/css/style.css" rel="stylesheet" type="text/css" />

        <!--IE10 viewport hack for Surface/desktop Windows 8 bug--> 
        <link href="../../resources/css/ie10-viewport-bug-workaround.css" rel="stylesheet"/>

        <!--Custom styles for this template--> 
        <link href="../../resources/css/painel.css" rel="stylesheet"/>

        <!-- Chamadas JS -->
        <ui:include src="../../resources/templates/template-links-js.xhtml"/>

        <!--IE10 viewport hack for Surface/desktop Windows 8 bug--> 
        <script src="../../resources/js/ie10-viewport-bug-workaround.js"></script>

    </h:head>
    <h:body>
        <ui:include src="../../resources/templates/template-menu-topo-alternativo.xhtml"/>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    <ui:include src="../../resources/templates/template-menu-lateral.xhtml"/>
                </div>
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    <div class="container">
                        <h1 class="page-header">Usuarios</h1>
                    </div>  
                    <h2 class="sub-header">Alterar Senha</h2>
                    <h:form>
                        <div class="form-group col-xs-12">
                            <h:inputHidden value="#{controleUsuario.usuarioLogado.id}" />
                        </div>                        

                        <div class="form-group col-xs-12 col-md-6">
                            <p:outputLabel for="password1"  value="Senha:"/>
                            <p:password class="form-control" id="password1" feedback="true" 
                                        inline="true" promptLabel="Força da sua senha" goodLabel="Boa" weakLabel="Fraca" strongLabel="Forte" 
                                        value="#{controleUsuario.senha}" match="password2"  required="true"  placeholder="Digite sua senha"/>
                        </div>

                        <div class="form-group col-xs-12 col-md-6">
                            <p:outputLabel for="password2" value="Confirme sua Senha:"/>
                            <p:password class="form-control" id="password2" required="true"  placeholder="Digite sua senha novamente"/>
                        </div>

                        <input type="hidden"
                               name="${_csrf.parameterName}"
                               value="${_csrf.token}"/>

                        <div class="form-group col-xs-12 col-md-4">
                            <p:commandButton class="btn btn-default" id="enviar" value="Enviar"  action="#{controleUsuario.alterar()}" ajax="false" update="growl"/>
                        </div>

                    </h:form>

                </div>
            </div>
        </div>
    </h:body>
</html>


