<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:p="http://primefaces.org/ui"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>	
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="author" content="Gabriel Soligo"/>


        <title>SISEVENTOS - Avaliar Trabalho</title>


        <!-- CSS -->
        <link href="../../resources/css/bootstrap.css" rel="stylesheet" type="text/css"/>
        <link href="../../resources/css/style.css" rel="stylesheet" type="text/css" />

        <!--IE10 viewport hack for Surface/desktop Windows 8 bug--> 
        <link href="../../resources/css/ie10-viewport-bug-workaround.css" rel="stylesheet"/>

        <!--Custom styles for this template--> 
        <link href="../../resources/css/painel.css" rel="stylesheet"/>

        <!-- Chamadas JS -->
        <!--        <script src="../../resources/js/jquery.min.js" type="text/javascript"></script>-->
        <script src="../../resources/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="https://use.fontawesome.com/a44030ac75.js"></script>
        <script src="../../resources/js/JavascriptPrimefacesCalendarLocale.js"></script>

        <!--IE10 viewport hack for Surface/desktop Windows 8 bug--> 
        <!--        <script src="js/ie10-viewport-bug-workaround.js"></script>-->


    </h:head>
    <h:body>         
        <!-- MENU TOPO -->
        <ui:include src="../../resources/templates/template-menu-topo-alternativo.xhtml"/>
        <!--FIM DO MENU TOPO -->
        <!-- CORPO -->        
        <div class="container-fluid">
            <div class="row">                
                <div class="col-sm-3 col-md-2 sidebar">                    
                    <ui:include src="../../resources/templates/template-menu-lateral.xhtml"/>
                </div>
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main"> 

                    <div class="container">
                        <h1 class="page-header">Avaliador</h1>
                    </div>  
                    <h2 class="sub-header">Avaliar Trabalho</h2>

                    <h:form id="form" enctype="multipart/form-data">

                        <p:growl id="growl" class="ui-growl" showDetail="true" autoUpdate="true" life="5000"/>

                        <div class="form-group col-md-12">
                            <p:outputLabel  for="titulo" value="Titulo do Trabalho:" />
                            <p:inputText value="#{controleTrabalho.trabalho.titulo}" class="form-control" id="titulo" readonly="#{facesContext.renderResponse}"/>
                        </div>

                        <div class="form-group col-md-12">
                            <p:outputLabel  for="tema" value="Tema do Trabalho:" />
                            <p:inputText value="#{controleTrabalho.trabalho.tema}" class="form-control" id="tema" readonly="#{facesContext.renderResponse}"/>
                        </div>

                        <div class="form-group col-md-12">
                            <p:outputLabel  for="autores" value="Autores do Trabalho:" />
                            <p:inputText value="#{controleTrabalho.trabalho.autores}" class="form-control" id="autores" readonly="#{facesContext.renderResponse}"/>
                        </div>

                        <div class="form-group col-md-12">
                            <p:outputLabel  for="descricao" value="Descrição do Trabalho:" />
                            <p:inputTextarea value="#{controleTrabalho.trabalho.descricao}" class="form-control" id="descricao" readonly="#{facesContext.renderResponse}"/>
                        </div>

                        <div class="form-group col-md-12">
                            <!--<p:media value="/uploads/eventos/trabalhos/{controleTrabalho.trabalho.id}{controleTrabalho.trabalho.caminho}" width="100%" height="300px"/>--> 
                        </div>

                        <div class="form-group col-md-12">
                            <p:commandButton value="Download" ajax="false" type="button" icon="ui-icon-arrowthick-1-s">
                                        <p:fileDownload value="/uploads/eventos/trabalhos/#{controleTrabalho.trabalho.id}#{controleTrabalho.trabalho.caminho}" />
                            </p:commandButton>
                        </div>

                        <div class="form-group col-md-12">
                            <p:outputLabel  for="aprovado" value="Aprovado:" />
                            <p:selectBooleanCheckbox class="checkbox-inline" id="aprovado" value="#{controleTrabalho.trabalho.aprovado}"/>
                        </div> 

                        <div class="form-group col-md-12">
                            <p:editor id="editor" widgetVar="editorWidget" value="#{controleTrabalho.trabalho.avaliacao}"  style="width:100%" />

                            <h:panelGrid columns="2" style="margin-top: 10px">
                                <p:commandButton value="Enviar"  action="#{controleTrabalho.avaliarTrabalho()}" ajax="true" icon="ui-icon-disk" update="growl"/>

                                <p:commandButton value="Limpar" type="button" onclick="PF('editorWidget').clear();" icon="ui-icon-close" />


                            </h:panelGrid>

                            <!--                            <p:dialog header="Content" widgetVar="dlg" showEffect="fade" hideEffect="fade">
                                                            <h:outputText id="display" value="TESTE" escape="false" />
                                                        </p:dialog>-->
                        </div>




                        <!-- Token de segurança para evitar ataques DDOS -->
                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                        <!-- Fim do token -->
                    </h:form>
                </div>
            </div>
        </div>
        <!-- FIM CORPO -->
    </h:body>
</html>



