<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <!-- TITULO -->
        <title>Inscrição Evento</title>        

        <!-- METAS -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="author" content="Gabriel Soligo"/>


        <title>Meu Perfil</title>

        <!-- CSS -->
        <link href="../../resources/css/bootstrap.css" rel="stylesheet" type="text/css"/>
        <link href="../../resources/css/style.css" rel="stylesheet" type="text/css" />

        <!--IE10 viewport hack for Surface/desktop Windows 8 bug--> 
        <link href="../../resources/css/ie10-viewport-bug-workaround.css" rel="stylesheet"/>

        <!--Custom styles for this template--> 
        <link href="../../resources/css/painel.css" rel="stylesheet"/>

        <!-- Chamadas JS -->
        <!--        <script src="../../resources/js/jquery.min.js" type="text/javascript"></script>-->
        <script src="../../resources/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="https://use.fontawesome.com/a44030ac75.js"></script>

        <!--IE10 viewport hack for Surface/desktop Windows 8 bug--> 
        <!--        <script src="js/ie10-viewport-bug-workaround.js"></script>-->

    </h:head>
    <h:body>
        <ui:include src="../../resources/templates/template-menu-topo.xhtml"/> 

        <div class="container-fluid">
            <div class="row">                
                <div class="col-sm-3 col-md-2 sidebar">                    
                    <ui:include src="../../resources/templates/template-menu-lateral.xhtml"/>
                </div>
                <div class="container">
                    <h1 class="page-header">Eventos</h1>
                </div>  
                <h2 class="sub-header">Eviar Trabalhor</h2>

                <div class="table-responsive">

                    <h:form id="form" enctype="multipart/form-data">   

                        <p:growl id="growl" class="ui-growl" showDetail="true" autoUpdate="true" life="5000"/>

                        <div class="form-group col-xs-12">
                            <h:inputHidden value="#{controleTrabalho.participante.id}" />
                        </div>

                        <div class="form-group col-xs-12">
                            <p:outputLabel  for="nome" value="Nome do Evento:" />
                            <p:inputText value="#{controleTrabalho.participante.evento.nomeDoEvento}" class="form-control" id="nome" readonly="#{facesContext.renderResponse}"/>
                        </div>

                        <div class="form-group col-xs-12">
                            <p:outputLabel for="titulo" value="Titulo"/> 
                            <p:inputText class="form-control" id="titulo" value="#{controleTrabalho.trabalho.titulo}"/>
                        </div>

                        <div class="form-group col-xs-12">
                            <p:outputLabel for="autores" value="Autores"/> 
                            <p:inputText class="form-control" id="autores" value="#{controleTrabalho.trabalho.autores}"/>
                        </div>

                        <div class="form-group col-xs-2 ">
                            <p:outputLabel for="tema" value="Tema"/> 
                            <p:inputText class="form-control" id="tema" value="#{controleTrabalho.trabalho.tema}"/>
                        </div>                    

                        <!--                            <div class="form-group col-xs-2 ">
                                                        <p:outputLabel for="data" value="Data do Evento"/> 
                        
                                                    </div>-->

                        <div class="form-group col-xs-12">
                            <p:outputLabel for="descricao" value="Descrição:"/> 
                            <p:inputTextarea class="form-control" id="descricao"  value="#{controleTrabalho.trabalho.descricao}"/>
                        </div>

                        <div class="form-group col-xs-12">

                            <p:selectBooleanCheckbox class="form-control" id="final" itemLabel="Versão final" value="#{controleTrabalho.trabalho.versaoFinal}" required="true"/>

                        </div>

                        <div class="form-group col-xs-12 ">
                            <p:fileUpload id="upload" fileUploadListener="#{controleTrabalho.handleFileUpload}" immediate="true" mode="simple"
                                          dragDropSupport="true" update="form:growl" fileLimit="5" multiple="true" skinSimple="true" allowTypes="/(\.|\/)(pdf|doc?x|txt|odt|pptx)$/" />
                        </div>         

                        <p:commandButton action="#{controleTrabalho.inserirTrabalho()}" update="growl"/>

                                         <input type="hidden"                        
                               name="${_csrf.parameterName}"
                               value="${_csrf.token}"/>
                    </h:form>
                </div>
            </div>
        </div>
    </h:body>
</html>



