<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="author" content="Gabriel Soligo"/>


        <title>Meu Perfil</title>


        <!-- CSS -->
        <link href="../../resources/css/bootstrap.css" rel="stylesheet" type="text/css"/>
        <link href="../../resources/css/style.css" rel="stylesheet" type="text/css" />

        <!--IE10 viewport hack for Surface/desktop Windows 8 bug--> 
        <link href="../../resources/css/ie10-viewport-bug-workaround.css" rel="stylesheet"/>

        <!--Custom styles for this template--> 
        <link href="../../resources/css/painel.css" rel="stylesheet"/>

        <!-- Chamadas JS -->
        <!--        <script src="../../resources/js/jquery.min.js" type="text/javascript"></script>-->
        <script src="../../resources/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="https://use.fontawesome.com/a44030ac75.js"></script>

        <!--IE10 viewport hack for Surface/desktop Windows 8 bug--> 
        <!--        <script src="js/ie10-viewport-bug-workaround.js"></script>-->

    </h:head>
    <h:body>
        <ui:include src="../../resources/templates/template-menu-topo-alternativo.xhtml"/> 

        <div class="container-fluid">
            <div class="row">                
                <div class="col-sm-3 col-md-2 sidebar">                    
                    <ui:include src="../../resources/templates/template-menu-lateral.xhtml" />             
                </div>
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    <div class="container">
                        <h1 class="page-header">Eventos</h1>
                    </div>  
                    <h2 class="sub-header">Eventos Terminados</h2>
                    <div class="table-responsive">

                        <h:form id="form">

                            <p:growl id="growl" class="ui-growl" showDetail="true" autoUpdate="true" life="5000"/> 

                            <p:dataTable id="lista" var="evento"  value="#{controleEvento.eventosTerminados}" scrollable="true" emptyMessage="Não foi encontrado">                             
                                <p:column headerText="ID" visible="false" >  
                                    <h:outputText value="#{evento.id}" />  
                                </p:column>

                                <p:column headerText="Nome" sortBy="#{evento.nomeDoEvento}">       
                                    <h:outputText value="#{evento.nomeDoEvento}" />
                                </p:column>
                                
                                <p:column headerText="Tipo de Evento" sortBy="#{evento.tipoEvento}">   
                                    <h:outputText value="#{evento.tipoEvento}" />
                                </p:column>

                                <p:column headerText="Data" sortBy="#{evento.data}"> 
                                    <h:outputText value="#{evento.data}">
                                        <f:convertDateTime pattern="dd/MM/yyyy HH:mm"/>
                                    </h:outputText>   
                                </p:column>

                                <p:column headerText="Local" sortBy="#{evento.local}">   
                                    <h:outputText value="#{evento.local}" />
                                </p:column>

                                <p:column headerText="Detalhes/Descrição" sortBy="#{evento.descricaoEvento}">  
                                    <h:outputText value="#{evento.descricaoEvento}" />
                                </p:column>

                                <p:column headerText="Requisitos" sortBy="#{evento.requisitos}">    
                                    <h:outputText value="#{evento.requisitos}" />
                                </p:column>          

                                <p:column headerText="Vagas Totais" sortBy="#{evento.totalVagas}">   
                                    <h:outputText value="#{evento.totalVagas}" />
                                </p:column>    
                                
                                <p:column headerText="Vagas Disponiveis" sortBy="#{evento.vagasRestantes}">   
                                    <h:outputText value="#{evento.vagasRestantes}" />
                                </p:column>

                                <p:column >
                                    <p:commandButton action="#{controleEvento.acaoInscricao(evento)}" icon="fa fa-edit"/>                                  
                                </p:column>

                            </p:dataTable>
                            <input type="hidden"
                                   name="${_csrf.parameterName}"
                                   value="${_csrf.token}"/>
                        </h:form>
                    </div>
                </div>
            </div>
        </div>
    </h:body>
</html>




