<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="author" content="Gabriel Soligo"/>


        <title>Meu Perfil</title>


        <!-- CSS -->
        <link href="../../resources/css/bootstrap.css" rel="stylesheet" type="text/css"/>
        <link href="../../resources/css/style.css" rel="stylesheet" type="text/css" />

        <!--IE10 viewport hack for Surface/desktop Windows 8 bug--> 
        <link href="../../resources/css/ie10-viewport-bug-workaround.css" rel="stylesheet"/>

        <!--Custom styles for this template--> 
        <link href="../../resources/css/painel.css" rel="stylesheet"/>

        <!-- Chamadas JS -->
<!--        <script src="../../resources/js/jquery.min.js" type="text/javascript"></script>-->
        <script src="../../resources/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="https://use.fontawesome.com/a44030ac75.js"></script>

        <!--IE10 viewport hack for Surface/desktop Windows 8 bug--> 
        <!--        <script src="js/ie10-viewport-bug-workaround.js"></script>-->

    </h:head>
    <h:body>
        <ui:include src="../../resources/templates/template-menu-topo-alternativo.xhtml"/> 
        <div class="container-fluid">
            <div class="row">                
                <div class="col-sm-3 col-md-2 sidebar">                    
                    <ui:include src="../../resources/templates/template-menu-lateral.xhtml" />             
                </div>
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    <div class="container">
                        <h1 class="page-header">Trabalhos</h1>
                    </div>      
                    <h2 class="sub-header">Registros</h2>
                    <div class="table-responsive">

                        <h:form id="form">

                             <p:column headerText="Vagas Totais" sortBy="#{evento.totalVagas}">   
                                    <h:outputText value="#{evento.totalVagas}" />
                                </p:column>  

                            <p:dataTable id="lista" var="trabalho"  value="#{controleTrabalho.trabalhosParticipante}" scrollable="true" >                             
                                <p:column headerText="ID" visible="false" >  
                                    <h:outputText value="#{trabalho.id}" />  
                                </p:column>
                                
                                <p:column headerText="Titulo" sortBy="#{trabalho.titulo}">       
                                    <h:outputText value="#{trabalho.titulo}" />
                                </p:column>
                                
                                <p:column headerText="Tema" sortBy="#{trabalho.tema}"> 
                                    <h:outputText value="#{trabalho.tema}"/>  
                                </p:column>
                                
                                <p:column headerText="Local" sortBy="#{trabalho.autores}">   
                                    <h:outputText value="#{trabalho.autores}" />
                                </p:column>
                                
                                <p:column headerText="Detalhes/Descrição" sortBy="#{trabalho.descricao}">  
                                    <h:outputText value="#{trabalho.descricao}" />
                                </p:column>
                                
                                <p:column headerText="Versão do Trabalho" sortBy="#{trabalho.versao}">    
                                    <h:outputText value="#{trabalho.versao}" />
                                </p:column>          
                                
                                <p:column headerText="Versão Final" sortBy="#{trabalho.versaoFinal}">   
                                    <h:outputText value="#{trabalho.versaoFinal}" />
                                </p:column>      

                            </p:dataTable>
                            <input type="hidden"
                                   name="${_csrf.parameterName}"
                                   value="${_csrf.token}"/>
                        </h:form>
                    </div>
                </div>
            </div>
        </div>      
    </h:body>
</html>
