/*  
    Theme Name: SISEVENTOS
    Theme URI: 
    Description: Estilização do sistema.
    Author: Gabriel Soligo
    Author URI: http://www.facebook.com/gabrielsoligo
    Version: 1.0
*/
.ui-growl {
    position: fixed;
    top: 70px;
    right: 20px;
    width: 301px;
}
.logo{
    height:50px;
    padding:5px 15px 5px 15px;
}
.slick-slide {
    margin: 0px 0px;
}
.slick-slide img {
    width: 100%;
}
.clear{
    clear:both;
    color:red;
}
.navbar-default .navbar-nav> li > a:hover{
    background-color: #ccc;
}
.navbar-default .navbar-nav > .active > a {
    background-color: #ccc;
}
.botao-menu {
    list-style:none;
    padding:0 5px 0 15px;
    float:right; 
    width: 205px;
    min-height: 50px;
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
}
.botao-menu a{
    padding:0 5px 0 0;
}
.footer{
    min-height:95px;
    background:#1F5181;
}
.footer-dentro{
    margin:0 auto;
    padding:20px 0 0 0;
    color:#fff;
    font-size:14px;
    text-align:center;
}
/* PAGINA DE LOGIN */
.tela-login{
    background:#f1f1f1;
}
.footer-login{
    position:relative;
    bottom:0;
    min-height:95px;
    width:100%;
}
.footer-dentro-login{
    margin:0 auto;
    padding:20px 0 0 0;
    color:#1F5181;
    font-size:14px;
    text-align:center;
}
.logo-login{
    padding:25% 0px 0px 0px;
}
.logo-login img{
    max-width: 300px;
    margin:0 auto;
    border-bottom:1px solid #ccc;
    padding: 0 0 40px 0;
}
.login-form{
    padding-bottom:20px;
}
form.login-form-dentro{
     padding-bottom:20px;
}
.form-horizontal{
    padding:40px 20px;
}
button.botao-conexao-login{
    margin: 0px 5px 20px 5px;
    padding:5px !important;
    background-color: #fff !important;
    background-image: none !important;
}
/* PAGINA DE INSCRIÇÃO */
.cadastro-inteiro{
    background:#fff;
    padding: 40px 0 20px 0;
}
.titulo{
    background:#3273BA;
    background-image:url(../images/pattern-bg.jpg);
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.72);
    padding:0 0 40px 0;
}
.titulo h1{
    font-size:60px;
    color:#fff;
    font-weight:bold;
    padding:20px 20px 0 20px;
    text-align:center;
}
.titulo h4{
    color:#fff;
    padding:0 20px 0px 20px;
    text-align:center;
}
/* PAGINA EVENTOS */
.conteudo-eventos p{
    text-align:justify;
}
.eventos{
	min-height: 300px;
	text-align:center;
	padding:0 10px 40px 10px;
}
.eventos h2{
	background:#00387d;
	padding:10px 0 10px 0;
	margin:0;
	color:#fff;
	text-transform:uppercase;
	font-size: 20px;
}
.eventos h2:hover{
	background:#4285f4;
}
.eventos h5{
    font-size: 12px;
    color: #3273BA;
}
.eventos a:hover{
    text-decoration:none;
}
/*============================ meu-perfil.xhtml ===================== */
form.menu-lateral{
    width:100%;
    background:#4285f4;
}
.ui-menu.ui-widget {
    width:100%;
    background:#fff !important;
    border-radius:0 !important;
    border:0 !important;
}
.ui-menu.ui-widget ul li h3{
    padding:10px 10px 10px 30px !important;
    font-weight: bold;
}
.ui-menu.ui-widget ul li icon {
    padding:0px 10px 0px 0px !important;
}
.ui-menu.ui-widget li > .ui-menuitem-link {
    padding:10px !important;
    margin:0;
    color:#444;
}
.ui-menu.ui-widget li > .ui-menuitem-link:hover {
    background: #3273BA !important;
    color:#fff;
}
.img-user{
    width:30px;
    float:left;
    margin:10px 0 0 0;
    border:2px solid #ccc;
}
.img-user:hover{
    border:2px solid #3273BA;
    cursor: pointer;
}
.menu-boas-vindas{
    float:left;
    padding:15px 10px 0 5px;
    text-transform: capitalize;
}
.botao-sair input{
    float:right;
    background:none;
    height:30px;
    width:40px;
    margin:10px 0 0 0;
    border:1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#3273BA;
}
.botao-sair input:hover{
    float:right;
    background:none;
    height:30px;
    width:40px;
    margin:10px 0 0 0;
    border:1px solid #ccc;
    background: #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#666;
}
/****************** Pagina Exibir Usuarios ********************/
.menu-relatorio-dentro{
    margin:10px 5px 10px 0;
}
/****************** Pagina Exibir noticias ********************/
.ui-datalist-item{
    display: inline;
}
.ui-widget-content {
    border: none !important;
}