<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>  
        <title>SISEVENTOS - Login</title>
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="resources/css/bootstrap.css"/>
        <link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'/>
        <link rel="stylesheet" type="text/css" href="resources/css/style.css" />
        <link rel="stylesheet" type="text/css" href="resources/css/slick.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/slick-theme.css"/>

        <!-- Chamadas JS -->
        <script src="resources/js/jquery.min.js" type="text/javascript"></script>
        <script src="resources/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="https://use.fontawesome.com/a44030ac75.js"></script>
    </h:head>
    <h:body class="tela-login" style="padding-top:50px;">

        <ui:include src="resources/templates/template-menu-topo-login.xhtml"/>

        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-md-6 col-md-offset-3 login-form">
                    <div class="logo-login">
                        <a href="index.xhtml"><img class="img-responsive" src="resources/images/logo.svg"/></a>
                    </div>
                    <center> 
                        <h:outputText value="Usuário e/ou senha inválidos!" rendered="#{param.error}" style="color:darkred; font-size: 14px; padding-bottom: 10px;" />
                    </center>

                    <form id="frmLogin login-form-dentro" action="j_spring_security_check" method="post">
                        <div class="form-group col-md-12">
                            <p:outputLabel for="j_username" class="col-sm-2 control-label" value="E-mail"/>
                            <div class="col-sm-10 col-md-8">
                                <p:inputText class="form-control" id="j_username"  placeholder="Digite seu e-mail"/>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <p:outputLabel for="j_password" class="col-sm-2 control-label" value="Senha"/>
                            <div class="col-sm-10 col-md-8">
                                <p:password class="form-control" id="j_password"  placeholder="Digite sua senha"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">  
                                    <p:selectBooleanCheckbox class="left" id="_spring_security_remember_me">                                        
                                    </p:selectBooleanCheckbox>
                                    <h:outputText class="text-justify" value=" Manter-me conectado"/>      
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <h:commandButton class="btn btn-primary" value="Entrar" />
                                <h:commandButton class="btn btn-link" value="Esqueci minha senha"  action="j_spring_security_check"/>
                            </div>
                        </div>
                    </form>

                    <div class="clear"></div>
                    <div style="padding-top: 40px !important; text-align: center;">
                        <p:commandButton styleClass="btn btn-default botao-conexao-login"  icon="fa fa-google" style="color:#DD4B38" value=" Entrar com Google" action="j_spring_security_check"/>
                        <p:commandButton styleClass="btn btn-default botao-conexao-login"  icon="fa fa-facebook-official" style="color:#3b5998" value="Entrar com Facebook" action="j_spring_security_check"/>
                    </div>
                </div>
            </div>
        </div>
        <!-- FOOTER -->
        <div class="clear"></div>
        <div class="footer-login">
            <div class="footer-dentro-login">
                <br/><br/>© 2016 FDS Systens. Todos os direitos reservados.<br/><br/>
                <a href="pages/public/index.xhtml"><button type="button" class="btn btn-link"> <i class="fa fa-home" aria-hidden="true"></i> Home</button></a>
                <a href="pages/public/noticias.xhtml"><button type="button" class="btn btn-link"> Notícias</button></a>
                <a href="pages/public/eventos.xhtml"><button type="button" class="btn btn-link"> Eventos</button></a>
                <a href="contato.xhtml"><button type="button" class="btn btn-link"> Contato</button></a>
            </div>
        </div>  
    </h:body>
</html>

