<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
    <title>Acesso Negado</title>
</h:head>
<h:body>
    <center>
        <h1>Ooops!</h1>
        <p>Parece que você está tetando acessar algo indevido.</p>
        <p>Entre em contato com o Administrador do Sistema!</p>
    </center>
</h:body>
</html>

