/*  

    Theme Name: SISEVENTOS

    Theme URI: 

    Description: Estilização do sistema.

    Author: Gabriel Soligo

    Author URI: http://www.facebook.com/gabrielsoligo

    Version: 1.0

*/
.logo{
	height:50px;
	padding:5px 15px 5px 15px;
}
.slick-slide {
      margin: 0px 0px;
    }

    .slick-slide img {
      width: 100%;
    }
.clear{
	clear:both;
	color:red;
}
.botao-menu{
	list-style:none;
	padding:0 15px 0 15px;
	float:right; 
	width: 205px; 
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
}
.footer{
	min-height:95px;
	background:#1F5181;
	
}
.footer-dentro{
	margin:0 auto;
	padding:20px 0 0 0;
	color:#fff;
	font-size:14px;
	text-align:center;
}

/* PAGINA DE LOGIN */
.tela-login{
	background:#f1f1f1;
}
.footer-login{
	position:relative;
	bottom:0;
	min-height:95px;
	width:100%;
	
}
.footer-dentro-login{
	margin:0 auto;
	padding:20px 0 0 0;
	color:#1F5181;
	font-size:14px;
	text-align:center;
}
.logo-login{
	padding:50px 0px 0px 0px;
}
.logo-login img{
	max-width: 300px;
	margin:0 auto;
	border-bottom:1px solid #ccc;
	padding: 0 0 40px 0;
}
.login-form{
	padding-bottom:20px;
}
.form-horizontal{
	padding:40px 20px;
	
}
/* PAGINA DE INSCRIÇÃO */
.cadastro-inteiro{
	background:#fff;
	padding: 40px 0 20px 0;
}
.titulo{
	background:#3273BA;
	background-image:url(../images/pattern-bg.jpg);
	text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.72);
	padding:0 0 40px 0;
}
.titulo h1{
	font-size:60px;
	color:#fff;
	font-weight:bold;
	padding:20px 20px 0 20px;
	text-align:center;
}
.titulo h4{
	color:#fff;
	padding:0 20px 0px 20px;
	text-align:center;
}
/* PAGINA EVENTOS */
.conteudo-eventos p{
	text-align:justify;
}